@import "tailwindcss";

html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #844738;
  background-image: url('../public/background/linktree-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

@media (max-width: 64rem) {
  body {
    background-position: right;
  }
}

.steam {
  background-image: url('../public/assets/steam.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  animation: floatUp 4s ease-in-out infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.7;
  }
  50% {
    transform: translateY(-12px) scale(1.03);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 0.7;
  }
}
